/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;;
}

/* Utils */

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container-big{
    max-width: 1400px;
    margin: 0 auto;
}

.container-small{
    max-width: 1200px;
    margin: 0 auto;
}

.float{
    float: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.margin-section{
    margin-top: 100px;
}

.margin-p{
    margin-top: 10px;
}

.w-70{
    width: 70%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-30{
    width: 30%;
}

.w-10{
    width: 5%;
}

.btn{
    background-color: #0061FF;
    display: inline-block;
}

.btn .btn-big{
    color: white;
    line-height: 35px;
    padding: 20px;
    font-weight: bold;
}


a{
    text-decoration: none;
}

#head-btn{
   background-color: #0061FF;
   text-decoration: none;
   color: white;
   padding: 5px 20px;
   position: absolute;
   top: 18px;
   right: 20px;
}

.btn:hover, #head-btn:hover{
    opacity: 80%;
}

/* Header */

header{
    /* background-color: #f6f6f6; */
    min-height: 70px;
}

.header-nav{
    padding: 20px 15px;
    position: relative;
}

.header-nav li{
    display: inline-block;
    vertical-align: middle;
}

.header-nav a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}


.left-nav li{
    margin-left: 20px;
}

.right-nav{
    margin-left: 140px;
}

/* Jumbotron */

.jumbo{
    height: 800px;
    background-color: #B4D0E7;
}

h1{
    font-size: 5em;
    font-weight: 900;
}

.main-jumbo{
    margin-top: 50px;
    display: inline-block;
}

.content-jumbo{
    margin-top: 50px;
    display: inline-block;
}

.content-jumbo p{
    margin-bottom: 40px;
}


#jumbo-img{
    width: 100%;
    margin-left: 50px;
}

/* Main Piani Business */

.main-plans{
    margin-top: 150px;
}

.main-plans h2{
    font-size: 3em ;
    margin-bottom: 60px;
}

.far.fa-circle{
    margin-left: 10px;
    cursor: pointer;
}

.fas.fa-circle{
    color: white;
    border: 3px solid blue;
    border-radius: 50%;
    cursor: pointer;
}

.container-plans{
    width: 100%;
}

.margin-plans{
    margin: 40px 60px;
}

.col-plans{
    width: 30%;
    margin-top: 40px;
}


.type-plans{
    border: 1px solid lightgray;
    min-height: 40px;
    line-height: 40px;
}

.info-plans{
    border: 1px solid lightgray;
    border-top: 0;
    min-height: 1000px;
}


.cont-plans{
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.cont-plans h3{
    font-size: 1.6em;
    margin: 25px 0 15px 0;
}

.cont-plans .price{
    margin-bottom: 10px;
    font-weight: bold;
}

.options{
    margin-bottom: 30px;
}

.cont-plans p{
    margin: 20px 0;
}

.cont-plans h5{
    font-size: 1.2em;
}

.btn.btn-plans{
    width: 100%;
    margin: 30px 0 20px 0;
}

.cont-plans hr{
    width: 60px;
    margin: 30px 0 40px 0;
}

.cont-plans ul{
    list-style-type: none;
}

.bottom-plans{
    width: 100%;
    min-height: 200px;
}

.bottom-plans h3{
    font-size: 1.6em;
    margin: 20px 20px;
}

.bottom-plans h4, .bottom-plans p{
    margin: 20px 20px;
}

.info-contact{
    border: 1px solid lightgray;
    border-top: 0;
}

.btn.btn-contact{
    margin: 30px;
    width: 80%;
}

/* Sezione Partner */
.main-partner{
    
}