/* Generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;;
}

/* Utils */

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container-big{
    max-width: 1400px;
    margin: 0 auto;
}

.container-small{
    max-width: 1200px;
    margin: 0 auto;
}

.float{
    float: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-10{
    width: 5%;
}

.btn{
    background-color: #0061FF;
}

#head-btn{
   background-color: #0061FF;
   text-decoration: none;
   color: white;
   padding: 5px 20px;
   position: absolute;
   top: 18px;
   right: 20px;
}

#head-btn:hover{
    opacity: 80%;
}

/* Header */

header{
    /* background-color: #f6f6f6; */
    height: 70px;
}

.header-nav{
    padding: 20px 15px;
    position: relative;
}

.header-nav li{
    display: inline-block;
    vertical-align: middle;
}

.header-nav a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}


.left-nav li{
    margin-left: 20px;
}

.right-nav{
    margin-left: 80px;
}

/* Jumbotron */

.jumbo{
    height: 800px;
    background-color: #B4D0E7;
}